# Java
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear

# Spring Boot
backend/src/main/resources/application.properties

# Node
**/node_modules/
**/dist/
frontend/.env
frontend/.env.local

# IDEs
.vscode/
.idea/
*.swp
*.log

# OS
.DS_Store
Thumbs.db
